body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #006400; /* Verde Escuro */
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    padding-bottom: 80px; /* Espaço extra para o footer */
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: #006400; /* Verde Escuro */
    border-bottom: 2px solid #004d00; /* Verde ainda mais escuro */
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

form {
    margin-bottom: 1rem;
}

.plantonista {
    margin-bottom: 1rem;
}

button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    background-color: #006400; /* Verde Escuro */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004d00; /* Verde ainda mais escuro */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    background: #e0e0e0;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-left: 4px solid #006400; /* Verde Escuro */
    border-radius: 4px;
}

ul li.destaque {
    border-left: 4px solid #ff0000; /* Vermelho */
    font-weight: bold;
    color: #006400; /* Verde Escuro */
}

footer {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    border-top: 1px solid #ddd;
}

#resultado-cadastro-reserva div {
    margin-bottom: 1rem;
}

#resultado-cadastro-reserva p {
    font-weight: bold;
}

input, label {
    display: block;
    margin-bottom: 0.5rem;
    width: 100%;
}

input[type="text"], input[type="number"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 1rem);
}

section {
    margin-bottom: 2rem;
}

@media (max-width: 600px) {
    main {
        padding: 1rem;
        padding-bottom: 100px; /* Espaço extra para o footer em dispositivos móveis */
    }

    button {
        width: 100%;
        margin-bottom: 1rem;
    }

    ul li {
        padding: 1rem;
    }
}
